#top-nav-bar{
	background-color: #bebebe; 
	padding: 22px 0;
	margin-bottom: 10px;
	min-height: 50px;
	width: 100%;
}
#social-icons{
	position: fixed;
	float: left;
	padding: 100px 0 0 0;
}

#social-icons .single-icon{
	margin: 2px
}

#copyright { background: #3f3f3f; color: #fff; padding: 11px 0; margin-top: 44px; }
#copyright p, #copyright ul.link-list { margin-bottom: 0; }
#copyright a { color: #fff; }
	
footer { padding-bottom: 20px; }
footer .row { margin-top: 20px; padding-top: 20px; border-top: 1px solid #ddd; }